@mixin flwi() {
	float: left;
	width: 100%;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


.nop {
	padding: 0;
	margin: 0;
}

a, button {
	transition: 0.2s all;
}

input,textarea,button,select,a {
	outline: 0;
    font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

ul {
	list-style-type: none;
}

[v-cloak] {
	display: none;
}

.an {
	transition: 0.2s all;
}

a {
    text-decoration: none;
    cursor: pointer;
}


.mt {
	font-family: 'Roboto', sans-serif;
}

h1,h2,h3 {
	font-family: 'Roboto', sans-serif;
}

