@import url(foundation.css);
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
.nop {
  padding: 0;
  margin: 0;
}

a, button {
  transition: 0.2s all;
}

input, textarea, button, select, a {
  outline: 0;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

[v-cloak] {
  display: none;
}

.an {
  transition: 0.2s all;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.mt {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f6f8fc;
}

.hideforweb {
  display: none;
}

[v-cloak] {
  display: none;
}

header {
  float: left;
  width: 100%;
  height: 700px;
  position: relative;
  background-color: #FFF;
}

header .container .hero-bg {
  float: right;
  width: 737px;
  height: 736px;
  background-size: cover;
  position: absolute;
  right: 0;
}

header .container .header-nav {
  float: right;
  position: relative;
  z-index: 2;
  padding-top: 25px;
  right: -30px;
}

header .container .header-nav .header-navbar {
  float: right;
}

header .container .header-nav .header-navbar li {
  float: left;
}

header .container .header-nav .header-navbar li a {
  float: left;
  width: 100%;
  font-size: 0.8em;
  font-weight: 500;
  color: #FFF;
  text-transform: uppercase;
  padding: 8px 17px;
}

header .container .header-nav .header-navbar li a.rounded-cta {
  border-radius: 30px;
  border: 2px solid #FFF;
  padding: 8px 24px;
}

header .container .header-nav .header-navbar li a.rounded-cta:hover {
  background-color: #FFF;
  color: #33334f;
}

header .container .main-content {
  float: left;
  position: relative;
  z-index: 2;
  padding: 40px 0;
}

header .container .main-content .mob-menu {
  float: right;
  padding-top: 5px;
}

header .container .main-content .mob-menu i {
  width: 20px;
  height: 20px;
  background-size: cover;
  float: left;
}

header .container .main-content .logo {
  float: left;
  width: 75px;
  height: 18px;
  background-size: cover;
}

header .container .main-content .logo a {
  float: left;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}

header .container .main-content .arabesque {
  margin: 35px 0;
}

header .container .main-content .tagline {
  float: left;
  width: 100%;
  font-size: 2.3em;
  color: #33334f;
  line-height: 42px;
}

header .container .main-content .sub-tagline {
  float: left;
  width: 100%;
  font-size: 0.85em;
  font-weight: 400;
  color: #767ead;
  padding: 35px 100px 35px 0;
}

header .container .main-content .cta-btn-join {
  float: left;
  border-radius: 30px;
  background-color: #8065ff;
  color: #FFF;
  font-size: 0.74em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 30px;
}

header .container .main-content .cta-btn-join:hover {
  background-color: #9179ff;
}

header .container .main-content .cta-btn-join:active {
  background-color: #6f51ff;
}

header .container .main-content .notice {
  float: left;
  width: 100%;
  font-size: 0.65em;
  font-weight: 400;
  color: #b9bdcd;
  padding-top: 10px;
}

header .container .main-content .share-actions {
  float: left;
  width: 100%;
  padding-top: 25px;
}

header .container .main-content .share-actions a {
  float: left;
  padding-right: 30px;
}

header .container .main-content .share-actions a .icon-social {
  float: left;
  background-size: cover;
}

header .container .main-content .share-actions a .icon-social.tw {
  width: 23px;
  height: 19px;
  margin-top: 2px;
}

header .container .main-content .share-actions a .icon-social.fb {
  width: 23px;
  height: 23px;
}

header .container .main-content .share-actions a span {
  float: left;
  font-size: 0.8em;
  font-weight: 400;
  color: #7f87b2;
  line-height: 24px;
  padding-left: 10px;
}

header .container .main-content .mtagline {
  float: left;
  width: 100%;
  font-size: 0.85em;
  font-weight: 400;
  color: #33334f;
  padding: 35px 220px 35px 0;
}

header .container .main-content .clogos {
  height: 23px;
  width: 327px;
  float: left;
}

.how-it-works {
  float: left;
  width: 100%;
  padding: 140px 0 0;
  background-color: #FFF;
}

.how-it-works .container .tagline {
  float: left;
  width: 100%;
  padding: 25px 0;
  text-align: center;
  color: #33334f;
  font-size: 1.4em;
}

.how-it-works .container .sub-tagline {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  font-weight: 400;
  color: #767ead;
  padding: 0 300px;
}

.how-it-works .container .steps-section {
  float: left;
  width: 100%;
  padding-top: 50px;
}

.how-it-works .container .steps-section .step .step-vector {
  width: 98px;
  height: 87px;
  background-size: cover;
  display: block;
  margin: 0 auto;
}

.how-it-works .container .steps-section .step .title-step {
  color: #33334f;
  float: left;
  width: 100%;
  font-size: 0.85em;
  font-weight: 500;
  text-align: center;
  padding-top: 20px;
}

.how-it-works .container .steps-section .step .subtitle {
  color: #767ead;
  float: left;
  width: 100%;
  font-size: 0.75em;
  font-weight: 400;
  text-align: center;
  padding: 10px 60px 0;
}

.how-it-works .container .cta-hire {
  float: left;
  width: 100%;
  padding: 25px 0;
  text-align: center;
}

.how-it-works .container .cta-hire .tagline {
  font-size: 1em;
  font-weight: 500;
  color: #33334f;
  padding-bottom: 40px;
}

.how-it-works .container .cta-hire .cta-action {
  display: block;
  width: 150px;
  padding: 15px 0px;
  color: #a15fff;
  font-size: 0.74em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 auto;
  border-radius: 30px;
  box-shadow: 0 -3px 10px 0px rgba(0, 0, 0, 0.05);
}

.how-it-works .container .cta-hire .cta-action:hover {
  box-shadow: 0 -3px 10px 0px rgba(0, 0, 0, 0.08);
}

.how-it-works .container .cta-hire .cta-action:active {
  box-shadow: 0 -3px 10px 1px rgba(0, 0, 0, 0.05);
}

.companies {
  float: left;
  width: 100%;
  position: relative;
}

.companies .hero-wave {
  float: left;
  width: 100%;
  height: 236px;
  background-size: cover;
  background-position: center bottom;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.companies .lfsec {
  position: relative;
  z-index: 2;
  padding: 240px 0 50px;
}

.companies .lfsec .fqtitle {
  float: left;
  width: 100%;
  font-size: 0.85em;
  font-weight: 500;
  color: #9aa3d0;
  padding-top: 25px;
}

.companies .lfsec .tagline {
  color: #33334f;
  font-size: 1.45em;
  line-height: 30px;
  float: left;
  width: 100%;
}

.companies .lfsec .subtag {
  float: left;
  width: 100%;
  font-size: 0.8em;
  font-weight: 400;
  color: #767ead;
  line-height: 20px;
  padding: 25px 250px 0 0;
  text-align: justify;
}

.companies .lfsec .cta-btn-join {
  float: left;
  border-radius: 30px;
  background-color: #8065ff;
  color: #FFF;
  font-size: 0.74em;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px 30px;
  margin-top: 30px;
}

.companies .lfsec .cta-btn-join:hover {
  background-color: #9179ff;
}

.companies .lfsec .cta-btn-join:active {
  background-color: #6f51ff;
}

.companies .rsec {
  padding-top: 200px;
}

.companies .rsec .vector-companies {
  float: right;
  width: 362px;
  height: 342px;
  background-size: cover;
}

.faq {
  float: left;
  width: 100%;
}

.faq .container .tagline {
  float: left;
  width: 100%;
  padding: 25px 0;
  text-align: center;
  color: #33334f;
  font-size: 1.4em;
}

.faq .container .sub-tagline {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  font-weight: 400;
  color: #767ead;
  padding: 0 300px;
}

.faq .container .qst-sec {
  float: left;
  width: 100%;
  padding: 50px 0;
}

.faq .container .qst-sec .question {
  padding: 10px;
  position: relative;
}

.faq .container .qst-sec .question .qst-container {
  float: left;
  width: 100%;
  min-height: 70px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 3px 10px 0 #f0ebfe;
  padding: 10px 20px;
  line-height: 50px;
  font-size: 1em;
  font-weight: 400;
  color: #767ead;
  transition: 0.2s all;
  overflow: hidden;
  cursor: pointer;
}

.faq .container .qst-sec .question .qst-container:hover {
  box-shadow: 0 3px 10px 2px #f0ebfe;
}

.faq .container .qst-sec .question .qst-container .response {
  border-top: 1px solid rgba(51, 51, 79, 0.05);
  padding: 10px 0;
  font-size: 0.8em;
  font-weight: 400;
  line-height: 20px;
  color: #33334f;
}

.faq .container .qst-sec .question .chvdwon {
  float: right;
  width: 24px;
  height: 24px;
  background-size: cover;
  margin-top: 15px;
}

.testimonials {
  float: left;
  width: 100%;
}

.testimonials .tagline {
  float: left;
  width: 100%;
  padding: 25px 0;
  text-align: center;
  color: #33334f;
  font-size: 1.4em;
}

.testimonials .sub-tagline {
  float: left;
  width: 100%;
  text-align: center;
  font-size: 0.8em;
  font-weight: 400;
  color: #767ead;
  padding: 0 300px;
}

.testimonials .testimonials-sec {
  float: left;
  width: 100%;
  padding: 50px 0;
}

.testimonials .testimonials-sec .testi {
  padding: 10px;
}

.testimonials .testimonials-sec .testi .tst-container {
  float: left;
  width: 100%;
  height: 120px;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 3px 10px 0 #f0ebfe;
  padding: 20px 20px;
  transition: 0.2s all;
}

.testimonials .testimonials-sec .testi .tst-container:hover {
  box-shadow: 0 3px 10px 2px #f0ebfe;
}

.testimonials .testimonials-sec .testi .tst-container .user-pic {
  float: left;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-size: cover;
  margin-top: 10px;
}

.testimonials .testimonials-sec .testi .tst-container .infos {
  float: left;
  width: calc(100% - 60px);
  padding-left: 15px;
  padding-top: 7px;
}

.testimonials .testimonials-sec .testi .tst-container .infos .name {
  float: left;
  width: 100%;
  font-size: 0.8em;
  font-weight: 500;
  color: #33334f;
}

.testimonials .testimonials-sec .testi .tst-container .infos .post {
  float: left;
  width: 100%;
  font-size: 0.75em;
  font-weight: 500;
  color: #aaa;
}

.testimonials .testimonials-sec .testi .tst-container .infos .text {
  float: left;
  width: 100%;
  font-size: 0.9em;
  font-weight: 400;
  color: #8895ba;
  padding-top: 10px;
}

footer {
  float: left;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid rgba(51, 51, 79, 0.05);
}

footer .container .logo {
  float: left;
  width: 75px;
  height: 18px;
  background-size: cover;
  margin-top: 10px;
}

footer .container .logo a {
  float: left;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
}

footer .container .cp {
  float: right;
  font-size: 0.85em;
  font-weight: 400;
  color: #7575a6;
  padding: 8px 0px;
}

.arabesque {
  width: 75px;
  height: 15px;
  background-size: cover;
}

.arabesque.fl {
  float: left;
}

.arabesque.ds {
  display: block;
  margin: 0 auto;
}

.apply-form {
  float: left;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(51, 51, 79, 0.5);
  z-index: 1200;
}

.apply-form .container {
  width: 500px;
  background-color: #FFF;
  border-radius: 3px;
  display: block;
  margin: 100px auto 0;
  overflow: hidden;
}

.apply-form .container .title {
  float: left;
  width: 100%;
  padding: 15px 15px 10px;
  font-size: 1em;
  color: #33334f;
  position: relative;
}

.apply-form .container .title .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0.75em;
  font-weight: 500;
  color: #33334f;
  text-transform: uppercase;
}

.apply-form .container .subtitle {
  float: left;
  width: 100%;
  font-size: 0.85em;
  color: rgba(51, 51, 79, 0.5);
  padding: 0 15px;
}

.apply-form .container .form-inputs {
  float: left;
  width: 100%;
  padding: 15px;
  position: relative;
}

.apply-form .container .form-inputs .success-message {
  float: left;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #FFF;
  z-index: 10;
  padding: 100px 0;
}

.apply-form .container .form-inputs .success-message .icon-succ {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  background-size: cover;
}

.apply-form .container .form-inputs .success-message .title {
  float: left;
  width: 100%;
  font-size: 1em;
  color: #33334f;
  text-align: center;
}

.apply-form .container .form-inputs .success-message .msg {
  float: left;
  width: 100%;
  font-size: 0.8em;
  color: rgba(51, 51, 79, 0.5);
  text-align: center;
  padding: 10px 50px;
}

.apply-form .container .form-inputs .input {
  float: left;
  width: 100%;
  padding-bottom: 15px;
  position: relative;
}

.apply-form .container .form-inputs .input .chvdwon {
  position: absolute;
  right: 15px;
  top: 17px;
  background-size: cover;
  display: block;
  width: 20px;
  height: 20px;
}

.apply-form .container .form-inputs .input .error-message {
  float: left;
  width: 100%;
  font-size: 0.75em;
  font-weight: 400;
  color: #FF2255;
  padding: 10px 0 0;
}

.apply-form .container .form-inputs .input input, .apply-form .container .form-inputs .input textarea {
  float: left;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 1px 0 rgba(51, 51, 79, 0.05);
  padding: 15px 10px;
  border: 1px solid rgba(51, 51, 79, 0.1);
  font-size: 0.85em;
  font-weight: 400;
  color: #33334f;
}

.apply-form .container .form-inputs .input input::placeholder, .apply-form .container .form-inputs .input textarea::placeholder {
  color: rgba(51, 51, 79, 0.5);
}

.apply-form .container .form-inputs .input input:focus, .apply-form .container .form-inputs .input textarea:focus {
  border-color: rgba(51, 51, 79, 0.25);
}

.apply-form .container .form-inputs .input textarea {
  resize: none;
  height: 100px;
}

.apply-form .container .form-inputs .input select {
  float: left;
  width: 100%;
  padding: 15px 10px;
  height: 50px;
  border: 1px solid rgba(51, 51, 79, 0.1);
  font-size: 0.85em;
  font-weight: 500;
  color: #33334f;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.apply-form .container .form-inputs .input select::-ms-expand {
  display: none;
}

.apply-form .container .form-inputs .cta-submit {
  float: left;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.apply-form .container .form-inputs .cta-submit button {
  display: inline-block;
  padding: 17px 30px;
  background-color: #33334f;
  border-radius: 30px;
  font-size: 0.8em;
  font-weight: 500;
  color: #FFF;
  text-align: center;
  width: 140px;
}

.apply-form .container .form-inputs .cta-submit button:hover {
  background-color: #47476e;
}

.apply-form .container .form-inputs .cta-submit button:active {
  background-color: #33334f;
}

.apply-form .container .form-inputs .cta-submit button .loader {
  display: block;
  width: 15px;
  height: 15px;
  background-size: cover;
  margin: 0 auto;
}

@media screen and (max-width: 39.9375em) {
  .hideforweb {
    display: block;
  }
  .apply-form .container {
    width: 100%;
  }
  .menu-mobile {
    float: left;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(51, 51, 79, 0.5);
    z-index: 10;
  }
  .menu-mobile .container {
    float: right;
    width: 60%;
    height: 100%;
    background-color: #FFF;
    position: relative;
  }
  .menu-mobile .container .close {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #33334f;
    font-size: 0.75em;
    font-weight: 500;
    text-transform: uppercase;
  }
  .menu-mobile .container .navbar {
    float: left;
    width: 100%;
    padding: 50px 30px;
  }
  .menu-mobile .container .navbar li {
    float: left;
    width: 100%;
  }
  .menu-mobile .container .navbar li a {
    float: left;
    width: 100%;
    color: #33334f;
    border-bottom: 1px solid rgba(51, 51, 79, 0.1);
    padding: 10px 0;
  }
  .mob {
    float: left;
    width: 100%;
  }
  header {
    height: auto;
  }
  header .container .hero-bg {
    display: none;
  }
  header .container .header-nav {
    display: none;
  }
  header .container .main-content {
    padding: 10px 20px;
    width: 100%;
  }
  header .container .main-content .logo {
    margin-top: 10px;
  }
  header .container .main-content .tagline {
    font-size: 2em;
  }
  header .container .main-content .sub-tagline {
    padding-right: 20px;
  }
  header .container .main-content .mtagline {
    padding-right: 50px;
  }
  header .container .main-content .clogos {
    transform: scale(0.75);
  }
  .how-it-works {
    padding: 50px 0 0;
  }
  .how-it-works .sub-tagline {
    padding: 0 30px !important;
  }
  .how-it-works .steps-section .step {
    padding-bottom: 40px;
  }
  .companies .container .lfsec {
    padding: 260px 20px 40px;
  }
  .companies .container .lfsec .subtag {
    padding: 20px 0;
  }
  .companies .container .rsec {
    padding-top: 0;
  }
  .companies .container .rsec .vector-companies {
    transform: scale(0.75);
  }
  .faq .container .sub-tagline {
    padding: 0;
  }
  .testimonials .container .sub-tagline {
    padding: 0 70px;
  }
  .testimonials .container .testimonials-sec .testi .tst-container .user-pic {
    width: 40px;
    height: 40px;
  }
  .testimonials .container .testimonials-sec .testi .tst-container .infos {
    width: calc(100% - 40px);
    padding-left: 10px;
  }
  .testimonials .container .testimonials-sec .testi .tst-container .infos .text {
    font-size: 0.8em;
    padding: 5px 0 0;
  }
  footer {
    padding: 10px 20px;
  }
  footer .container .cp {
    width: 70%;
    font-size: 0.75em;
  }
}
