@import url(vendor/foundation.min.css);
.nop {
  padding: 0;
  margin: 0; }

ul {
  list-style-type: none; }

input, button {
  outline: 0; }

.showresp {
  display: none; }

header {
  float: left;
  width: 100%;
  height: 60px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  position: relative;
  z-index: 1; }
  header .container .logo {
    float: left;
    padding: 15px 0;
    font-size: inherit; }
    header .container .logo a {
      float: left; }
      header .container .logo a .teacup {
        background-size: 35px 30px;
        width: 35px;
        height: 30px;
        float: left; }
      header .container .logo a span {
        float: left;
        font-size: 1.2em;
        font-weight: 500;
        color: #4485a9;
        padding: 2px 8px; }
  header .container .cta_sales {
    float: right;
    padding: 10px;
    font-size: 0.8em;
    font-weight: 500;
    color: #FFF;
    background-color: #4485a9;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 10px; }
    header .container .cta_sales:hover {
      background-color: #3d7797; }
  header .container .head-nav {
    float: right;
    padding: 0px 0; }
    header .container .head-nav li {
      float: left; }
      header .container .head-nav li a {
        float: left;
        font-size: 0.85em;
        font-weight: 500;
        padding: 19.5px 15px; }
        header .container .head-nav li a .icon {
          float: left;
          background-size: cover;
          width: 20px;
          height: 20px;
          margin-right: 6px; }
        header .container .head-nav li a:hover {
          background-color: #F4F4F4;
          color: #3d7797; }

.main-section {
  float: left;
  width: 100%;
  height: 260px;
  background-size: 100%;
  position: relative; }
  .main-section .bgof {
    float: left;
    width: 100%;
    height: 260px;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.3), transparent); }
  .main-section .container {
    position: relative;
    z-index: 1; }
    .main-section .container .main-title {
      float: left;
      width: 100%;
      text-align: center;
      font-size: 2em;
      font-weight: 500;
      color: #FFF;
      text-transform: uppercase;
      padding: 60px 0 10px;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
    .main-section .container .search-form {
      float: left;
      width: 100%;
      position: relative;
      margin: 20px 0; }
      .main-section .container .search-form input {
        float: left;
        width: 100%;
        border-radius: 30px;
        padding: 18px;
        font-size: 0.95em;
        font-weight: 500;
        border: 0;
        box-shadow: inset 2px 1px 4px rgba(0, 0, 0, 0.2); }
      .main-section .container .search-form button {
        position: absolute;
        right: 9px;
        top: 9px;
        float: right;
        padding: 12px 14px;
        font-size: 0.7em;
        font-weight: 500;
        text-transform: uppercase;
        background-color: #4485a9;
        border-radius: 30px;
        color: #fff;
        cursor: pointer; }
        .main-section .container .search-form button:hover {
          background-color: #478bb0; }

.text-section {
  float: left;
  width: 100%;
  min-height: 340px; }
  .text-section.obg {
    background: rgba(68, 133, 169, 0.1) linear-gradient(to top, rgba(68, 133, 169, 0.1), rgba(255, 255, 255, 0)); }
  .text-section .container .left-side {
    padding: 90px 0; }
    .text-section .container .left-side .side-title {
      float: left;
      width: 100%;
      font-size: inherit; }
      .text-section .container .left-side .side-title .icon {
        float: left;
        width: 30px;
        height: 30px;
        background-size: cover; }
      .text-section .container .left-side .side-title span {
        float: left;
        font-size: 1.85em;
        font-weight: 500;
        color: #555;
        line-height: 30px;
        padding-left: 10px;
        text-transform: uppercase; }
    .text-section .container .left-side .sub-title {
      float: left;
      width: 100%;
      padding-top: 25px;
      font-size: 1.3em;
      font-weight: 500;
      color: #777;
      text-transform: uppercase; }
      .text-section .container .left-side .sub-title:before {
        content: '@'; }
    .text-section .container .left-side .sub-text {
      float: left;
      width: 100%;
      font-size: 0.85em;
      font-weight: 500;
      color: #777;
      line-height: 18px;
      padding: 10px 200px 10px 0; }

footer {
  float: left;
  width: 100%; }
  footer .container {
    padding: 20px;
    font-size: 0.8em;
    font-weight: 500;
    text-align: center;
    color: #777; }
    footer .container a {
      color: #4485a9; }
      footer .container a:hover {
        text-decoration: underline;
        color: #356885; }

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  header .container {
    padding: 0 10px 0 0; }
    header .container .logo {
      transform: scale(0.8); }
  .showresp {
    display: block; }
  .main-section {
    background-size: cover; }
    .main-section .container .main-title {
      font-size: 1.5em;
      line-height: 25px; }
    .main-section .container .search-form {
      padding: 0 15px; }
      .main-section .container .search-form input {
        font-size: 0.8em; }
      .main-section .container .search-form button {
        right: calc(9px + 15px); }
  .text-section .container .left-side {
    padding: 40px 20px; }
    .text-section .container .left-side .side-title .icon {
      width: 20px !important;
      height: 20px !important; }
    .text-section .container .left-side .side-title span {
      font-size: 1.2em !important;
      line-height: 20px !important;
      color: #000; }
    .text-section .container .left-side .sub-title {
      font-size: 0.9em; }
    .text-section .container .left-side .sub-text {
      font-size: 0.8em;
      padding: 10px 0 !important; }
  .text-section .container .cta_contact {
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0; }
    .text-section .container .cta_contact a {
      display: inline-block;
      padding: 15px 20px;
      font-size: 0.8em;
      font-weight: 500;
      color: #FFF;
      background-color: #4485a9;
      border-radius: 3px;
      margin-top: 10px;
      margin-left: 10px;
      text-transform: uppercase; }
      .text-section .container .cta_contact a:hover {
        background-color: #3d7797; } }

@media screen and (max-width: 39.9375em) {
  header .container .logo {
    transform: scale(0.8); }
  .resph {
    display: none; }
  .showresp {
    display: block; }
  .main-section {
    background-size: cover; }
    .main-section .container .main-title {
      font-size: 1.3em;
      line-height: 25px; }
    .main-section .container .search-form {
      padding: 0 15px; }
      .main-section .container .search-form input {
        font-size: 0.8em; }
      .main-section .container .search-form button {
        right: calc(9px + 15px); }
  .text-section .container .left-side {
    padding: 40px 20px; }
    .text-section .container .left-side .side-title .icon {
      width: 20px !important;
      height: 20px !important; }
    .text-section .container .left-side .side-title span {
      font-size: 0.85em !important;
      line-height: 20px !important;
      color: #000; }
    .text-section .container .left-side .sub-title {
      font-size: 0.85em; }
    .text-section .container .left-side .sub-text {
      font-size: 0.8em;
      padding: 10px 0 !important; }
  .text-section .container .cta_contact {
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0; }
    .text-section .container .cta_contact a {
      display: inline-block;
      padding: 15px 20px;
      font-size: 0.8em;
      font-weight: 500;
      color: #FFF;
      background-color: #4485a9;
      border-radius: 3px;
      margin-top: 10px;
      margin-left: 10px;
      text-transform: uppercase; }
      .text-section .container .cta_contact a:hover {
        background-color: #3d7797; } }
