@import "vendor/foundation.min.css";

@mixin flwi() {
	float: left;
	width: 100%;
}

.nop {
	padding: 0;
	margin: 0;
}

$pcolor: #4485a9;

ul {
	list-style-type: none;
}
input, button {
	outline: 0;
}

.showresp {
	display: none;
}

header {
	@include flwi();
	height: 60px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0, .05);
	position: relative;
	z-index: 1;
	.container {
		.logo {
			float: left;
			padding: 15px 0;
			font-size: inherit;
			a {
				float: left;
				.teacup {
					background-size: 35px 30px;
					width: 35px;
					height: 30px;
					float: left;
				}

				span {
					float: left;
					font-size: 1.2em;
					font-weight: 500;
					color: $pcolor;
					padding: 2px 8px;
				}
			}
		}
		.cta_sales {
			float: right;
			padding: 10px;
			font-size: 0.8em;
			font-weight: 500;
			color: #FFF;
			background-color: $pcolor;
			border-radius: 3px;
			margin-top: 10px;
			margin-left: 10px;
			&:hover {
				background-color: darken($pcolor, 5);
			}
		}
		.head-nav {
			float: right;
			padding: 0px 0;
			li {
				float: left;
				a {
					float: left;
					font-size: 0.85em;
					font-weight: 500;
					padding: 19.5px 15px;
					.icon {
						float: left;
						background-size: cover;
						width: 20px;
						height: 20px;
						margin-right: 6px;
					}

					&:hover {
						background-color: #F4F4F4;
						color: darken($pcolor, 5);
					}
				}
			}
		}
	}
}

.main-section {
	@include flwi();
	height: 260px;
	background-size: 100%;
	position: relative;
	.bgof {
		@include flwi();
		height: 260px;
		position: absolute;
		bottom: 0;
		left: 0;
		top: 0;
		right: 0;
		background: linear-gradient(to top, rgba(#000, .3), rgba(#000, 0));
	}

	.container {
		position: relative;
		z-index: 1;
		.main-title {
			@include flwi();
			text-align: center;
			font-size: 2em;
			font-weight: 500;
			color: #FFF;
			text-transform: uppercase;
			padding: 60px 0 10px;
			text-shadow: 0 1px 1px rgba(#000, .1);
		}

		.search-form {
			@include flwi();
			position: relative;
			margin: 20px 0;

			input {
				@include flwi();
				border-radius: 30px;
				padding: 18px;
				font-size: 0.95em;
				font-weight: 500;
				border: 0;
				box-shadow: inset 2px 1px 4px rgba(#000, 0.2);
			}

			button {
				position: absolute;
				right: 9px;
				top: 9px;
				float: right;
				padding: 12px 14px;
				font-size: 0.7em;
				font-weight: 500;
				text-transform: uppercase;
				background-color: $pcolor;
				border-radius: 30px;
				color: #fff;
				cursor: pointer;
				&:hover {
					background-color: lighten($pcolor, 2);
				}
			}
		}
	}
}

.text-section {
	@include flwi();
	min-height: 340px;
	&.obg {
		background: rgba($pcolor, 0.1) linear-gradient(to top, rgba($pcolor, 0.1), rgba(#FFF, 0));
	}
	.container {
		.left-side {
			padding: 90px 0;
			.side-title {
				@include flwi();
				font-size: inherit;
				.icon {
					float: left;
					width: 30px;
					height: 30px;
					background-size: cover;
				}

				span {
					float: left;
					font-size: 1.85em;
					font-weight: 500;
					color: #555;
					line-height: 30px;
					padding-left: 10px;
					text-transform: uppercase;
				}
			}

			.sub-title {
				@include flwi();
				padding-top: 25px;
				font-size: 1.3em;
				font-weight: 500;
				color: #777;
				text-transform: uppercase;
				&:before {
					content: '@';
				}
			}

			.sub-text {
				@include flwi();
				font-size: 0.85em;
				font-weight: 500;
				color: #777;
				line-height: 18px;
				padding: 10px 200px 10px 0;
			}
		}
	} 
}

footer {
	@include flwi();
	.container {
		padding: 20px;
		font-size: 0.8em;
		font-weight: 500;
		text-align: center;
		color: #777;

		a {
			color: $pcolor;
			&:hover {
				text-decoration: underline;
				color: darken($pcolor, 10);
			}
		}
	}
}

// Responsive

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	header {
		.container {
			.logo {
				transform: scale(0.8);
			}
			padding: 0 10px 0 0;
		}
	}

	.showresp {
		display: block;
	}
	.main-section {
		background-size: cover;
		.container {
			.main-title {
				font-size: 1.5em;
				line-height: 25px;
			}
			.search-form {
				padding: 0 15px;
				input {
					font-size: 0.8em;
				}
				button {
					right: calc(9px + 15px);
				}
			}
		}
	}
	.text-section {
		.container {
			.left-side {
				padding:40px 20px;
				.side-title {
					.icon {
						width: 20px !important;
						height: 20px !important;
					}

					span {
						font-size: 1.2em !important;
						line-height: 20px !important;
						color: #000;
					}
				}

				.sub-title {
					font-size: 0.9em;
				}

				.sub-text {
					font-size: 0.8em;
					padding: 10px 0 !important;
				}

				
			}
			.cta_contact {
				@include flwi();
				text-align: center;
				padding: 40px 0;
				a {
					display: inline-block;
					padding: 15px 20px;
					font-size: 0.8em;
					font-weight: 500;
					color: #FFF;
					background-color: $pcolor;
					border-radius: 3px;
					margin-top: 10px;
					margin-left: 10px;
					text-transform: uppercase;
					&:hover {
						background-color: darken($pcolor, 5);
					}

				}
			}
		}
	}
}

@media screen and (max-width: 39.9375em) {
	header {
		.container {
			.logo {
				transform: scale(0.8);
			}
		}
	}

	.resph {
		display: none;
	}

	.showresp {
		display: block;
	}

	.main-section {
		background-size: cover;
		.container {
			.main-title {
				font-size: 1.3em;
				line-height: 25px;
			}
			.search-form {
				padding: 0 15px;
				input {
					font-size: 0.8em;
				}
				button {
					right: calc(9px + 15px);
				}
			}
		}
	}

	.text-section {
		.container {
			.left-side {
				padding:40px 20px;
				.side-title {
					.icon {
						width: 20px !important;
						height: 20px !important;
					}

					span {
						font-size: 0.85em !important;
						line-height: 20px !important;
						color: #000;
					}
				}

				.sub-title {
					font-size: 0.85em;
				}

				.sub-text {
					font-size: 0.8em;
					padding: 10px 0 !important;
				}

				
			}
			.cta_contact {
				@include flwi();
				text-align: center;
				padding: 40px 0;
				a {
					display: inline-block;
					padding: 15px 20px;
					font-size: 0.8em;
					font-weight: 500;
					color: #FFF;
					background-color: $pcolor;
					border-radius: 3px;
					margin-top: 10px;
					margin-left: 10px;
					text-transform: uppercase;
					&:hover {
						background-color: darken($pcolor, 5);
					}

				}
			}
		}
	}
}
